<div class="myPage">
    <div class="container">
        <div class="infoBox">
            <span style="padding: 3px;">
                Etapas para deletar sua conta
            </span>
            <div
                style="border-top: 1px solid; border-radius: 10px; padding: 8px; display: flex; flex-direction: column; background-color: purple;">
                <span>
                    Mande um email para allefbruno@gmail.com
                </span>
            </div>
        </div>
        <div class="infoBox">
            <span style="padding: 3px;">
                O que será excluido ?
            </span>
            <div
                style="border-top: 1px solid; border-radius: 10px; padding: 8px; display: flex; flex-direction: column; background-color: purple;">
                <span>
                    Todos os dados de sua conta
                </span>
            </div>
        </div>
        <div class="infoBox">
            <span style="padding: 3px;">
                O que será Mantido ?
            </span>
            <span
                style="border-top: 1px solid; border-radius: 10px; padding: 8px; display: flex; flex-direction: column; background-color: purple;">
                Nada, tudo será deletado
            </span>
        </div>
        <span class="infoBox" style="padding: 8px;">
            Periodo de Retenção : 7 dias
        </span>
    </div>

</div>