<div class="infosPage" style="display: flex; align-items: center; justify-content: center;">

    <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 1rem;
    width: 25rem; padding: 8px;">
        <img [src]="app.img" width="60%" alt="">

        <div style="font-size: 2rem;">
            {{app.name}}
        </div>

        <div style="background-color: purple; color: white; padding: 20px; border-radius: 10px; font-weight: 500;">
            Passo a passo para deletar todos os dados
        </div>

        <div class="infosToDelete">
            <span>
                1. Clique e Segure no icone do app no seu celular
            </span>
            <span>
                2. Escolha a opção de "Informação do app"
            </span>
            <span>
                3. Procure a opção "Desinstalar"
            </span>
        </div>

        <div class="infosToDelete">
            <span style="font-weight: 500;">
                Caso o App tenha backup do google drive e queira exclui-lo, siga o passo a passo
            </span>
            <span>
                1. Acesse seu google drive
            </span>
            <span>
                2. Procure pela pasta do App
            </span>
            <span>
                3. Delete essa pasta
            </span>
        </div>

        <div style="font-weight: bold; font-size: 1.3rem; text-align: center;">
            Após isso todos os dados serão deletados
        </div>
    </div>


</div>